---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Our Ministries">
    <div class="mx-auto mt-8 mb-4">
        <span class="text-2xl">
            Our Ministries
        </span>
    </div>
</Layout>