---
import Layout from '../../layouts/Layout.astro';

import LeftContent from "../../components/LeftContent.astro";
import RightContent from "../../components/RightContent.astro";
import CenterContent from "../../components/CenterContent.astro";
import type Beliefs from './beliefs.astro';
---


<Layout title="How Can I Be Saved">
    <div class="flex flex-col">
        <h1 class="text-center text-6xl font-bold">What <em>is</em> Salvation?</h1>
        <span class="text-center text-5xl font-bold">&</span>
        <h1 class="text-center text-5xl font-bold">Why is it so <em>important</em>?</h1>
    </div>

    <CenterContent>
        <div>
            <p class=" w-3/4 lg:w-1/2 mx-auto text-2xl italic font-bold text-center">"But speaking the truth in love, may grown up into him in all things, which is the head, even Christ:"</p>
            <p class="text-xl font-bold text-center">Ephesians 4:15</p>
        <div>
    </CenterContent>

    <LeftContent>
        <div>
        <h1>Why do I need to be saved?</h1>
        <p>The Bible teaches that <em><b>all</b></em> have done wrong.</p>
        <p>The Bible teaches that the consequences of wrongdoing is death.</p>
        </div>
    </LeftContent>

    <RightContent>
        <h1>Jesus paid those consequences on the cross.</h1>
    </RightContent>

</Layout>