---
import Button from '../../components/Button.jsx';
import Layout from '../../layouts/Layout.astro';
import RightProfile from '../../components/RightProfile.jsx';
import LeftProfile from '../../components/LeftProfile.jsx';
import Grid from '../../components/Grid';
import ministers from '@cms/ministers';
import deacons from '@cms/deacons'

---

<Layout title="About Us">
    <div class="mx-auto mt-8 mb-4">
        <span class="text-2xl">
            About Us
        </span>
    </div>
    <div class="flex flex-col sm:flex-row justify-evenly sm:m-2 md:m-6 items-center">
        <Button text="How Can I Be Saved?" href="/about/salvation" />
        <Button text="What we Believe" href="/about/beliefs" />
    </div>
    <LeftProfile title="Our Church">
        <span slot="subtitle">At Ellis Baptist Church our goal is to <strong>share</strong> the Gospel of Jesus Christ with others, <strong>make</strong> disciples, and <strong>worship</strong> Jesus with other believers together as a family.</span>
        <img slot="image" class="object-cover object-center w-full h-full rounded-md shadow-md" src="/church_front.jpg"/>
        <ul slot="content" class="text-center md:text-left list-disc text-xl mb-4 leading-relaxed">
            <li>We understand that God meets poeple wherever they are in their lives.</li>
            <li>Our doors are open to meet your needs. Whether you are a visitor, a seeker, a new believer, or a longtime disciple. All are welcomed and loved.</li>
            <li>We use the KJV in our preaching and teaching.</li>
            <li>Our focus is on bringing honor and glory to Jesus Christ.</li>
            <li>We strive for personal holiness, but recognize that we are fallen creatures.</li>
            <li>We are commanded to "...speak the truth in love." Ephesians 4:15.</li>
            <li>We practice two ordinances as given in Scripture: baptism and the Lord's Supper.</li>
        </ul>
    </LeftProfile>"
    <RightProfile title="Our Pastor" image="/images/profiles/chad.png">
        <!-- <img slot="image" alt="content" class="object-cover object-center h-full w-full rounded-md shadow-md" src="/profiles/1080/8.png"> -->
        <p slot="content" class="leading-relaxed text-lg mb-4">
            Pastor Chad Pritchett was saved when he was 15 years old.
            After college, he joined the Army and served in both the Gulf and Iraq wars.
            In 2013, the Pritchett family moved to Ellis, Kansas and Chad began serving as senior pastor of Ellis Baptist Church.
            Chad and his wife, Tricia, have been married since 1991.
            They have 5 children, Colin, Brittany, Ryan, Lauren, and Michael.
            They also have 5 grandchildren: Ellie, Cayden, Laykin, Lizzie, Bell.
            Chad and Tricia feel truly blessed to be a part of the family at Ellis Baptist Church.
        </p>
    </RightProfile>
    <Grid title="Our Ministers" data={ministers} client:only="react"/>
    <Grid title="Our Deacons" data={deacons} client:load/>

</Layout>