---
---

<div class="mx-6">
    <div class="my-4 h-[32rem] mb-8">
        <div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;">
            <iframe
                style="height:100%;width:100%;border:0;" frameborder="0"
                src="https://www.google.com/maps/embed/v1/place?q=107+West+9th+Street,+Ellis,+KS,+USA&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
            />
        </div>

        <style>
            #g-mapdisplay img.text-marker {
                max-width: none !important;
                background: none !important;
            }

            img {
                max-width: none
            }
        </style>
    </div>
</div>