---
const { href } = Astro.props;
---

<a href={href} class="flex flex-row w-full py-2 mx-0 justify-evenly font-normal md:font-medium text-left text-black md:ml-0 md:w-auto md:px-0 md:mx-2 lg:mx-3 md:text-center"><slot></slot></a>
