---
const { href, text } = Astro.props;
---

<a href={href} class="flex justify-self-center items-center align-center w-full py-2 mx-0 ml-6 font-medium text-left text-black md:ml-0 md:w-auto md:px-0 md:mx-2 lg:mx-3 md:text-center"><slot /></a>

