---
import NavLink from "../components/NavLink.astro";
import NavBar from "../components/NavBar.astro";


const FacebookProfile = "https://www.facebook.com/www.ellisbc.org"
const PushPay = "https://www.ellisbc.org/https://pushpay.com/g/ellisbc?src=hpp"
const media = FacebookProfile + "/videos/"
---

<section class="w-full mb-4 antialiased bg-white">
    <div class="mx-auto max-w-7xl">
        <NavBar>
            <NavLink href="/">Home</NavLink>
            <NavLink href="/about/us">About Us</NavLink>
            <NavLink href={media}>Media</NavLink>
            <NavLink href="/contact/us">Contact Us</NavLink>
            <NavLink href={PushPay}>Give Online</NavLink>
        </NavBar>
    </div>
</section>