---
import NavLink from "../components/NavLink.jsx";
import NavBar from "../components/NavBar.jsx";

import links from "@cms/links";

const FacebookProfile = "https://www.facebook.com/www.ellisbc.org"
const PushPay = "https://pushpay.com/g/ellisbc?src=hpp"
const media = FacebookProfile + "/videos/"
---

<section class="w-full mb-4 antialiased bg-white">
    <div class="mx-auto max-w-7xl">
        <NavBar links={links} client:only="react" />
    </div>
</section>