---
import Header from './Header.astro'
import Footer from './Footer.jsx'
import Hero from './Hero.astro';
import links from '@cms/links';
export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<script src="https://kit.fontawesome.com/ac5abb0b05.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ellis Baptist Church">
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<link rel="icon" type="image/png" href="/favicon.png">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header links={links}></Header>
		<slot />
		<Footer navigation={links} />
	</body>
</html>


<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #c4bdc2 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: white;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
